p{
    color: red;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
    text-overflow: ellipsis;
    text-wrap: wrap;
    text-overflow: ellipsis;
}